<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.CusLogisticsMapper">
    <resultMap id="BaseResultMap" type="com.macro.mall.model.CusBaseLogistics">
        <result property="id" column="id"/>
        <result property="receiveDate" column="receive_date"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="waybillNumber" column="waybill_number"/>
        <result property="customerOrderNumber" column="customer_order_number"/>
        <result property="fwTrackingNumber" column="fw_tracking_number"/>
        <result property="containerNumber" column="container_number"/>
        <result property="status" column="status"/>
        <result property="logisticsChannel" column="logistics_channel"/>
        <result property="loadingPort" column="loading_port"/>
        <result property="loadingTime" column="loading_time"/>
        <result property="arrivalPort" column="arrival_port"/>
        <result property="arrivalDate" column="arrival_date"/>
        <result property="latestTrackNotes" column="latest_track_notes"/>
        <result property="trackUpdateTime" column="track_update_time"/>
        <result property="customsClearanceMaterials" column="customs_clearance_materials"/>
    </resultMap>
    <resultMap id="CusLogisticsResultMap" type="com.macro.mall.model.CusLogistics">
        <result property="id" column="id"/>
        <result property="receiveDate" column="receive_date"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="waybillNumber" column="waybill_number"/>
        <result property="customerOrderNumber" column="customer_order_number"/>
        <result property="fwTrackingNumber" column="fw_tracking_number"/>
        <result property="containerNumber" column="container_number"/>
        <result property="status" column="status"/>
        <result property="logisticsChannel" column="logistics_channel"/>
        <result property="loadingPort" column="loading_port"/>
        <result property="loadingTime" column="loading_time"/>
        <result property="arrivalPort" column="arrival_port"/>
        <result property="arrivalDate" column="arrival_date"/>
        <result property="targetPostcode" column="target_postcode"/>
        <result property="targetCountry" column="target_country"/>
        <result property="ecommercePlatform" column="ecommerce_platform"/>
        <result property="fulfillmentWarehouse" column="fulfillment_warehouse"/>
        <result property="isRemote" column="is_remote"/>
        <result property="ctns" column="ctns"/>
        <result property="tilPcs" column="til_pcs"/>
        <result property="netWeight" column="net_weight"/>
        <result property="grossWeight" column="gross_weight"/>
        <result property="measurement" column="measurement"/>
        <result property="billWeight" column="bill_weight"/>
        <result property="confirmedBillWeight" column="confirmed_bill_weight"/>
        <result property="cdType" column="cd_type"/>
        <result property="ccType" column="cc_type"/>
        <result property="clType" column="cl_type"/>
        <result property="material" column="material"/>
        <result property="additionalNotes" column="additional_notes"/>
        <result property="description" column="description"/>
        <result property="ccAmount" column="cc_amount"/>
        <result property="problemItemType" column="problem_item_type"/>
        <result property="ladingNumber" column="lading_number"/>
        <result property="latestTrackNotes" column="latest_track_notes"/>
        <result property="trackUpdateTime" column="track_update_time"/>
        <result property="customsClearanceMaterials" column="customs_clearance_materials"/>
        <result property="acceptanceChannelNo" column="acceptance_channel_no"/>
        <result property="ccCompanyNo" column="cc_company_no"/>
        <result property="fwLogisticsNo" column="fw_logistics_no"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <select id="selectAllLogistics" resultMap="BaseResultMap">
        SELECT * FROM logistics_records
    </select>

    <delete id="deleteByWaybillAndCustomerOrder">
        DELETE FROM logistics_records
        WHERE waybill_number = #{waybillNumber}
        AND customer_order_number = #{customerOrderNumber}
        AND fw_tracking_number = #{fwTrackingNumber};
    </delete>

    <!-- 查询是否存在记录 -->
    <select id="selectByWaybillAndCustomerOrder" resultMap="CusLogisticsResultMap">
        SELECT * FROM logistics_records
        WHERE waybill_number = #{waybillNumber}
        AND customer_order_number = #{customerOrderNumber}
        AND fw_tracking_number = #{fwTrackingNumber}
        LIMIT 1
    </select>

    <!-- 更新记录 -->
    <update id="updateByWaybillAndCustomerOrder">
        UPDATE logistics_records
        SET
        receive_date = #{receiveDate},
        receive_time = #{receiveTime},
        container_number = #{containerNumber},
        status = #{status},
        logistics_channel = #{logisticsChannel},
        loading_port = #{loadingPort},
        loading_time = #{loadingTime},
        arrival_port = #{arrivalPort},
        arrival_date = #{arrivalDate},
        target_postcode = #{targetPostcode},
        target_country = #{targetCountry},
        ecommerce_platform = #{ecommercePlatform},
        fulfillment_warehouse = #{fulfillmentWarehouse},
        track_update_time = NOW()  <!-- 设置当前时间作为更新时间 -->
        WHERE waybill_number = #{waybillNumber}
        AND customer_order_number = #{customerOrderNumber}
        AND fw_tracking_number = #{fwTrackingNumber}
    </update>

    <!-- 插入记录 -->
    <insert id="insertLogistics" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO logistics_records (
        receive_date, receive_time, waybill_number, customer_order_number, fw_tracking_number,
        container_number, status, logistics_channel, loading_port, loading_time, arrival_port, arrival_date,
        target_postcode, target_country, ecommerce_platform, fulfillment_warehouse, create_time, track_update_time
        ) VALUES (
        #{receiveDate}, #{receiveTime}, #{waybillNumber}, #{customerOrderNumber}, #{fwTrackingNumber},
        #{containerNumber}, #{status}, #{logisticsChannel}, #{loadingPort}, #{loadingTime}, #{arrivalPort},
        #{arrivalDate}, #{targetPostcode}, #{targetCountry}, #{ecommercePlatform}, #{fulfillmentWarehouse}, NOW(), NOW()
        )
    </insert>

<!--    <select id="findByContainerNumber">-->
<!--        SELECT * FROM cus_logistics WHERE container_number = #{containerNumber}-->
<!--    </select>-->
</mapper>